{% extends "central_core/base.html" %}
{% load static %}


{% block title %} About us {% endblock title %}


{% block content %}
<div class="container-fluid">
    <!--Warning Text-->
    <div class="row py-3">
       <div class="col-sm-md-lg-12">
          <div class="col-lg1-2 px-py-5 alert alert-warning">
             <p class="text-center text-danger">เว็บไซต์นี้สร้างขึ้นเพื่อการศึกษาการใช้งาน ภาษา Python และ Django Framework เท่านั้น สินค้าและรายละเอียดต่างๆล้วนนำมาอ้างอิงอื่นเพื่อการศึกษา ไม่ได้มีการวางขายบนเว็บไซต์อยู่จริง</ย>
          </div>
       </div>
    </div>
</div>   
{% endblock content %}