{% load static %}
<link rel="stylesheet" href="{% static 'store_app/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
<script src="{% static 'store_app/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Righteous&display=swap');
    .container{
        font-family: 'Mitr', sans-serif;
    }

    .footer_container{
        margin-bottom: 0;
        color: white;
    }
</style>


<footer class=" footer_container navbar-dark text-center bg-dark mb-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>2022 Copyright &copy; Codecx, Ins. All right reverse</h6>
            </div>
        </div>
        
        <br>
        
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a href="#" class="navbar-brand text-white"><h6>Home</h6></a> 
                <a href="#" class="navbar-brand text-white"><h6>Books</h6></a> 
                <a href="#" class="navbar-brand text-white"><h6>Sign-in</h6></a> 
                <a href="#" class="navbar-brand text-white"><h6>About us</h6></a>
            </nav>
        </div>
    </div>
</footer>
    