{% extends 'central_core/base.html' %}
{% load static %}


{% block title %} Book Detail {% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 shadow px-5 py-5">
            1
        </div>
        <div class="col-4 shadow px-5 py-5">
            2
        </div>
    </div>
    <div class="row">
        <div class="col-12 shadow px-5 py-5">
            <div class="card">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}