{% extends 'central_core/base.html' %}
{% load static %}

{% block title %} Book Detail {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row my-5 mx-3">
                <!--Image part-->
                <div class="col-8 mx-auto">
                    <div class="col-12">
                        <div class="card mx-auto col-12 py-5 px-5 shadow" style="border-radius: 20px;">
                            {% if book.image %}
                            <img src="{{ book.image.url }}" class="card-img-top shadow mx-auto" style="max-width: 33rem; border-radius: 20px;" alt="">
                            {% endif %}
                        </div>
                        <div class="card-body my-4">
                            <ul class="list-group list-group-flush col-12 shadow" style="border-radius: 20px;">
                                <li class="list-group-item">
                                    <h4 class="card-title">
                                        {{ book.book_title_eng }} (EN)
                                    </h4>
                                </li>
                                <li class="list-group-item">
                                    <h4 class="card-title">{{ book.book_title_jp }} (Romaji)</h4>
                                </li>
                                <li class="list-group-item">
                                    <h4 class="card-title">
                                        Volume: {{ book.volume_no }}
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--detail part-->
                <div class="col-sm-4 col-md-4 col-lg-4 mx-auto">
                    <div class="col-12 card-body my-1">
                        <ul class="list-group list-group-flush col-sm-12 col-md-12 col-lg-12 shadow" style="border-radius: 20px;">
                            <li class="list-group-item card-header">
                                <h4 class="card-title text-center">Details</h4>
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title">
                                    Contributor: {{ book.contributor }}
                                </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title">
                                    Illustration by: {{ books.artist }}
                                </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title">
                                    Publisher: {{ books.publisher }}
                                </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title">
                                    ISBN: {{ book.isbn }}
                                </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title">
                                    Year: {{ book.year }}
                                </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title">
                                    Pages: {{ book.pages }}
                                </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title">
                                    Status: {{ book.stock_status_now }}
                                </h5>
                            </li>
                        </ul>
                    </div>

                    <!--Tag หมวดหมู่-->
                    <div class="col-12 card-body my-1">
                        <ul class="list-group list-group-flush col-12 shadow" style="border-radius: 20px;">
                            <li class="list-group-item card-header mx-auto">
                                <h4 class="card-title text-center">Tags</h4>
                            </li>
                            <li class="list-group-item mx-auto">
                                <button type="button" class="btn btn-outline-secondary shadow" style="border-radius: 10px;">
                                    {{ book.book_categories.book_category_tag_1st }}
                                </button>
                            </li>
                            <li class="list-group-item mx-auto">
                                <button type="button" class="btn btn-outline-secondary shadow" style="border-radius: 10px;">
                                    {{ book.book_categories.book_category_tag_2nd }}
                                </button>
                            </li>
                            <li class="list-group-item mx-auto">
                                <button type="button" class="btn btn-outline-secondary shadow" style="border-radius: 10px;">
                                    {{ book.book_categories.book_category_tag_3rd }}
                                </button>
                            </li>
                            <li class="list-group-item mx-auto">
                                <button type="button" class="btn btn-outline-secondary shadow" style="border-radius: 10px;">
                                    {{ book.book_categories.book_category_tag_4th }}
                                </button>
                            </li>
                            <li class="list-group-item mx-auto">
                                <button type="button" class="btn btn-outline-secondary shadow" style="border-radius: 10px;">
                                    {{ book.book_categories.book_category_tag_5th }}
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body my-1">
                        <div class="row">
                            <div class="col-12 py-3 shadow" style="border-radius: 20px;">
                                <div class="col-12">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h5 class="card-title text-center">
                                                Price {{ book.premium_price }} Baht
                                            </h5>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="card-title text-center text-danger">
                                                <del>
                                                    Price {{ book.normal_price }} Baht
                                                </del>
                                            </h5>
                                        </li>
                                    </ul>
                                </div>

                                <!--Modal Select Button-->
                                <button id="add_button" class="btn mt-3 col-12 btn-outline-primary shadow" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border-radius: 10px;">
                                    Select
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-left-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.096 8.803a.5.5 0 1 0 .707-.707L6.707 6h2.768a.5.5 0 1 0 0-1H5.5a.5.5 0 0 0-.5.5v3.975a.5.5 0 0 0 1 0V6.707l4.096 4.096z"/>
                                    </svg>
                                </button>
                                {% if user.is_authenticated %}
                                <!-- Modal Select Window if the user has an authentication -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <!--Add the data of the book to the cart.-->
                                    <form action="{% url 'cart_app:cart_add' book.id %}" method="post">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-start" id="exampleModalLabel">
                                                        {{ book.book_title_eng }} Vol: {{ book.volume_no }}
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    {% csrf_token %}
                                                    {{ cart_book_form }}
                                                </div>
                                                <div class="modal-footer">
                                                    <!--Add to cart button-->
                                                    <button id="add_book" value="{{ book.id }}" type="submit" class="btn btn-outline-success shadow">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                        </svg>
                                                        Add to cart
                                                    </button>
                                                    <!--Close button-->
                                                    <button type="button" class="btn btn-outline-secondary shadow" data-bs-dismiss="modal">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                        </svg>
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form> 
                                </div>
                                {% else %}
                                <!-- Modal Select Window else the user hasn't an authentication -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-start" id="exampleModalLabel">
                                                    {{ book.book_title_eng }} Vol: {{ book.volume_no }}
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <h4 class="text-center">
                                                    Please, Login before select the book!!!
                                                </h4>
                                            </div>
                                            <div class="modal-footer">
                                                <!--Close button-->
                                                <button type="button" class="btn btn-outline-secondary shadow" data-bs-dismiss="modal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                {% endif %}

                                <!--Add to Favorite Button-->
                                <button id="add_button" class="btn mt-3 col-12 btn-outline-danger shadow" style="border-radius: 10px;">
                                    Add to Favorite
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                    </svg>
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}