{% extends "central_core/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'store_app/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
<script src="{% static 'store_app/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'store_app/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>

{% block title %} Homepage {% endblock %}


{% block content %}
<div class="container">
    <div class="row py-lg-5">
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-primary mx-auto text-dark">ฺBook1</div>
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-danger mx-auto text-dark">ฺBook2</div>
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-warning mx-auto text-dark">Book3</div>
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-success mx-auto text-dark">Book4</div>
    </div>
    <div class="row py-lg-5">
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-primary mx-auto text-dark">ฺBook1</div>
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-danger mx-auto text-dark">ฺBook2</div>
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-warning mx-auto text-dark">Book3</div>
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-success mx-auto text-dark">Book4</div>
    </div>
    <div class="row py-lg-5">
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-primary mx-auto text-dark">ฺBook1</div>
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-danger mx-auto text-dark">ฺBook2</div>
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-warning mx-auto text-dark">Book3</div>
        <div class="alert col-lg-3 col-md-6 col-sm-12 alert-success mx-auto text-dark">Book4</div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
           <div class="col-md-12 alert alert-danger">
              Some Content.. 
           </div>
        </div>
        <div class="col-md-6">
           <div class="col-md-12 alert alert-primary">
              Some Second Content.. 
           </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 alert alert-danger" style="max-width: 1000px; max-height: 100px;">
               
            </div>
         </div>
         <div class="col-md-6" >
            <div class="col-md-12 alert alert-primary " style="max-width: 1000px; max-height: 100px;">
               
            </div>
         </div>
      </div>
      <div class="row">
        <div class="col-md-6">
           <div class="col-md-12 alert alert-danger">
              Some Content.. 
           </div>
        </div>
        <div class="col-md-6">
           <div class="col-md-12 alert alert-primary">
              Some Second Content.. 
           </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 alert alert-danger">
               Some Content.. 
            </div>
         </div>
         <div class="col-md-6">
            <div class="col-md-12 alert alert-primary">
               Some Second Content.. 
            </div>
         </div>
      </div>
</div>
{% endblock %}