{% extends 'store_app/components/store_app_base.html' %}
{% load static %}


{% block title %}Ineritance Shop{% endblock %}


{% block content_base %}
<div>
    <h1>This is the inheritance page.</h1>
</div>
<div>
    <img src="{% static 'store_app/images/anakin_meme.jpg' %}">
</div>
<div style="background-color: red; text-align: center;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus facere rerum voluptatum! Sed magnam suscipit voluptate! Deleniti nemo amet repellat omnis, doloribus voluptas commodi quasi voluptatem. Natus placeat corporis aliquam!</p>
</div>
{% endblock %}