{% extends "store_app/components/store_app_base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'store_app/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
<script src="{% static 'store_app/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'store_app/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>

{% block title %} Homepage {% endblock %}


{% block content %}
<div class="text-white">
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
    <h1>.</h1>
</div>
{% endblock %}