{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Righteous&display=swap');
    .container{
        font-family: 'Mitr', sans-serif;
    }

    .footer_container{
        margin-bottom: 0;
        color: white;
    }
</style>

<footer>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col text-center py-3">
                <a href="{% url 'store_app:homepage' %}" class="text-white" style="text-decoration:none">
                    Home
                </a>
            </div>
            <div class="col text-center py-3">
                <a href="{% url 'store_app:books_list' %}" class="text-white" style="text-decoration:none"> 
                    All Books
                </a>
            </div>
            <div class="col text-center py-3">
                <a href="{% url 'account_app:login' %}" class="text-white" style="text-decoration:none">
                    Log-in
                </a>
            </div>
            <div class="col text-center py-3">
                <a href="{% url 'account_app:register' %}" class="text-white" style="text-decoration:none">
                    Register
                </a>
            </div>
            <div class="col text-center py-3" >
                <a href="{% url 'general_app:about_us' %}" class="text-white" style="text-decoration:none">
                    About Us
                </a>
            </div>
        </div>
    </div>
    <div class="contatiner-fluid bg-dark">
        <div class="row">
            <div class="col pb-5">
                <h5 class="text-center text-white">2022 Copyright &copy; Codecx. All right reverse</h5>
            </div>
        </div>
    </div>
</footer>