{% load static %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
    .brand_logo{
        font-family: 'Fredoka One', cursive;
        background: linear-gradient(90deg, #00FFD1, #D58BDD);
        font-size: 30px;
        background-clip: initial;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Righteous&display=swap');
    .button_nav_elements{
        font-family: 'Mitr', sans-serif;
    }

    .search_element{
        font-family:  'Mitr', sans-serif;
        background: linear-gradient(90deg, #00FFD1, #D58BDD);
    }
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a href="{% url 'store_app:homepage' %}" class="navbar-brand ">
                <h1 class="brand_logo">CODECX</h1>
            </a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar1" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto button_nav_elements">
                    <li class="nav-item">
                        <a href="{% url 'store_app:homepage' %}" class="nav-link text-white">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'store_app:books_list' %}" class="nav-link text-white">All Books</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a href="#all_publishers" class="nav-link dropdown-toggle text-white" 
                        id="navbar_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            All Publishers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar_dropdown">
                            <li class="dropdown-item">
                                <a href="#" class="text-dark" style="text-decoration:none">All</a>
                            </li>
                            {% for publisher in publishers %}
                            <li class="dropdown-item">
                                <a href="#" class="text-dark" style="text-decoration:none" style="text-decoration:none">{{ publisher.publisher_title|title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#user" class="nav-link dropdown-toggle text-white"
                        id="navbar_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>            
                    <ul class="dropdown-menu" aria-labelledby="navbar_dropdown">
                        <li class="dropdown-item">
                            <a href="{% url 'account_app:dashboard' %}" class="text-dark" style="text-decoration:none" style="text-decoration:none">Dashboard</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'account_app:logout' %}" class="text-dark" style="text-decoration:none" style="text-decoration:none">Log-out</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'account_app:login' %}" class="text-dark" style="text-decoration:none" style="text-decoration:none">Log-in</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'account_app:register' %}" class="text-dark" style="text-decoration:none" style="text-decoration:none">Register</a>
                        </li>
                    </ul>
                    </li>

                    <li class="nav-item ml-10">
                        <form class="d-flex">
                            <input class="form-control me-2 button_nav_elements" type="text" placeholder="Search">
                            <button class="search_element btn btn-primary text-white" type="button">Search</button>
                        </form>
                    </li>

                    <li class="nav-item mx-3">
                        <a type="button" href="{% url 'cart_app:cart_summary' %}" class="nav-link text-white btn btn-outline-info">
                            <div class="d-inline-flex">1</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            Cart
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'general_app:about_us' %}" class="nav-link text-white">
                            About us
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>